:root {
    --card-width: 250px;
    --row-increment: 10px;
    --card-border-radius: 16px;
    /* --card-small: 26;
    --card-med: 33;
    --card-large: 45; */
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    grid-auto-rows: minmax(calc(var(--row-increment) * 2), auto);
    gap: var(--row-increment);
}



.grid_item{
    width: var(--card-width);
    margin: var(--row-increment);
    padding: 0;
}
.grid_item img{
    width: 250px;
    border-radius: 25px;
}

.grid_text{
    width: var(--card-width);
    text-align: left;
    margin: auto;
    padding-bottom: 10px;
}
.grid_text h3{
    font-size: 20px;
}
.grid_text h4{
    font-size: 14px;
}

